.packages {
    &__heading {
        font-size:21px;
        opacity: 0.9;
        font-weight: 400;
        color: rgba(99, 95, 95, 0.884);
    }
    &__list {
        margin: 0;
        padding: 0;
    }
    &__item {
        border-radius: 15px;
        list-style: none;
        border: solid rgb(214, 204, 204) 0.2px;
        width: 300px;
        height: 210px;
    }

    &__itemHeader {
        margin: 0;
        margin-left: 5px;
    }
}