.login {
    background-color: azure;

    &__wrap {
        background-color: aliceblue;
        padding: 20px;
        border-radius: 8px;
        border: solid rgb(214, 204, 204) 0.2px;
        width: 350px;
    }
    &__button {
        width: 310px;
    }

    &__usernameText {
        margin: 0;
        padding: 0;
        font-size: 14px;
        padding-bottom: 5px;
    }
    &__passwordText {
        font-size: 14px;
        margin: 0;
        padding: 0;
        padding-bottom: 5px;
    }

    &__createLink {
        text-decoration: none;
    }

    &__register {
        background-color: aliceblue;
        padding: 18px;
        border-radius: 8px;
        border: solid rgb(214, 204, 204) 0.2px;
        width: 350px;
    }
    &__registerText {
        margin: 0;
        padding: 0;
    }
    &__registerList {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &__registerItem + &__registerItem {
        margin-left: 15px;
    }
    &__registerItemLink {
        font-size: 12px;
        text-decoration: none;
    }

    &__spanContact {
        color: black;
    }
}